@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root{
    font-family: 'Inter', sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ======= A Static Landing Page of Sports ======= */

#hero{
    width: 100%;
    height: 100vh;
    padding: 10px;
}

.hero-container{
    width: 100%;
    height: 100%;
    max-width: 1800px;
    /* background-color: blue; */
    border-radius: 18px;
    overflow: hidden;
    justify-self: center;
    position: relative;
    padding: 0;
}

.hero-container .hero-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0; 
    z-index: 5;
    border-radius: 18px;
    opacity: 0.9;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0.189);
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
}

.logo{
    width: 300px;
    height: 60px;
    background-color: white;
    justify-self: center;
    clip-path: polygon(0% 0%, 100% 0%, 77% 100%, 23% 100%);
    margin-top: -1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logos{
    width: 50px;
    height: 50px;
}

nav{
    display: flex;
    justify-content: space-between;
}
.links{
    width: 400px;
    height: 60px;
    background-color: blue;
}
.lastlinks{
    width: 400px;
    height: 60px;
    background-color: yellow;
}